{% extends 'front.html.twig' %}

{% block body %}
<style>
html,
body {
  height: 100%;
}
</style>


<!-- Page Content -->
<div class="container" style="margin-top:30px;">

  <!-- Portfolio Item Heading -->
  <div class="col-12">
    <h1 class="my-4">Carrinho de Compras</h1>
  </div>

  <!-- Portfolio Item Row -->
  <div class="col-12">
  {% if cart|length >= 1 %}  
        <table class="table table-striped">
            <thead>
                <tr>      
                <th scope="col">Título</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>                      
                <th scope="col">Subtotal</th>                
                <th scope="col" class="text-right">Ações</th>      
                </tr>
            </thead>
            {% set total = 0 %}
            {% for c in cart %}
                <tbody>
                    <tr>            
                        <td>{{ c['titulo'] }}</td>
                        <td>{{ c['quantidade'] }}</td>
                        <td>{{ 'R$ ' ~ c['preco']|number_format(2, ',', '.') }}</td>
                        {% set subtotal = c['preco'] * c['quantidade'] %}
                        <td>{{ 'R$ ' ~ subtotal|number_format(2, ',', '.') }}</td>
                        {% set total = total + subtotal %}
                        <td class="text-right">   
                            <a href="{{ path('front_cart_remove', {item: c['id'] }) }}" class="btn btn-sm btn-danger">Remover</a>                            
                        </td>
                    </tr>
                </tbody>
            {% endfor %}            
            <tr>
              <td colspan="3"><strong>Total:</strong></td>
              <td colspan="2"><strong>{{ 'R$ ' ~ total|number_format(2, ',', '.') }}</strong></td></strong>
            </tr>
        </table>

<div class="row">
        <div class="col-12 d-flex justify-content-between">
            <a href="{{ path('front_cart_limpar') }}" class="btn btn-lg btn-danger">Cancelar Carrinho</a>
            <a href="#" class="btn btn-lg btn-primary">Finalizar Compra</a>
        </div>
</div>
  {% else %}        
          <div class="alert alert-warning">Não há produtos no carrinho de compras !!!</div>
  {% endif %}
</div>


</div>
<!-- /.container -->
{% endblock %}
