<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cursos Online</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ asset('front/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ asset('front/css/heroic-features.css') }}" rel="stylesheet">
</head>


<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ path('front') }}">Site Cursos</a>      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Localizar Cursos" aria-label="Buscar">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
          </form>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">      
          {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
              <a class="nav-link" style="color:#E0E1E2;">Usuário: {{ app.user.nome|capitalize }}</a>
            </li>
          {% endif %}
          <!-- <li class="nav-item active">
            <a class="nav-link" style="color:#E0E1E2;" href="{{ path('front') }}">Home</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#E0E1E2;">Categorias</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">PHP</a>
              <a class="dropdown-item" href="#">Novidades</a>
              <a class="dropdown-item" href="#">Microsoft</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#E0E1E2;" href="{{ path('registro') }}">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:#E0E1E2;" href="{{ path('app_login') }}">Login</a>
          </li>

          {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
              <a class="nav-link" style="color:#E0E1E2;" href="{{ path('app_logout') }}">Sair</a>
            </li>
          {% endif %}    

        </ul>
      </div>
    </div>
  </nav>


  {% block body %}
{% endblock %}


<!-- Footer -->
<footer class="py-5 bg-dark" style="margin-top:40px;">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('front/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('front/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
